<h1>About page</h1>

<p>test</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("1111");
  });
</script>

<%= check_box :host ,{}, "Yes", "No"%>
<script type="text/javascript">
    $("input[type='checkbox']#pay_with_card").on('change', function(){
    $('.credit_card_fields').toggle();
    });
  </script>