<div id="page-content">

    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
            <!-- <img src="<%= asset_path('iot-connected.png') %>" class="img-fluid mx-auto d-block" width="35%" height="35%"> -->
            <br>
            <h1 class="display-4">Monitor your World</h1>
            <p class="lead"> </p>
            <hr class="my-2">
            <h6 id="blur-background-container">A lightweight Web Application to monitor and control hardware, software, IoT sensors and much more</h6>
            <% if !logged_in? %>
                <br>
                <br>
                <%= link_to "SIGN UP", signup_path, class: " btn btn-success btn-lg text-white" %>
              
            <% end %>
            
            
        </div>
    </div>

</div>


<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center ">
      <small>Copyright asolomon &copy; Overwatch</small><br>
      <small>v1.0-beta</small>
    </div>
  </footer>