<div id="page-content">

    <p id="notice"><%= notice %></p>
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
            <h1 class="display-4">Monitor your World</h1>
            <p class="lead"> </p>
            <hr class="my-4">
            <p>A lightweight Web Application to monitor and control hardware, software, IoT sensors and much more</p>
            <a class="btn btn-success btn-lg text-white" href="signup" role="button">Sign up</a>
            
        </div>
    </div>

</div>


<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center ">
      <small>Copyright asolomon &copy; Overwatch</small>
    </div>
  </footer>