<div id="page-content">

    
        <script>
            var words = ['ALL IN ONE','OVERVIEW','EXECUTE','DEPLOY'],
                part,
                i = 0,
                offset = 0,
                len = words.length,
                forwards = true,
                skip_count = 0,
                skip_delay = 15,
                speed = 50;
            var wordflick = function () {
            setInterval(function () {
                if (forwards) {
                if (offset >= words[i].length) {
                    ++skip_count;
                    if (skip_count == skip_delay) {
                    forwards = false;
                    skip_count = 0;
                    }
                }
                }
                else {
                if (offset == 0) {
                    forwards = true;
                    i++;
                    offset = 0;
                    if (i >= len) {
                    i = 0;
                    }
                }
                }
                part = words[i].substr(0, offset);
                if (skip_count == 0) {
                if (forwards) {
                    offset++;
                }
                else {
                    offset--;
                }
                }
                $('.word').text(part);
            },speed);
            };

            $(document).ready(function () {
            wordflick();
            });
        </script>
        
        <div class="jumbotron text-white container" id="home-container">
            <!-- <img src="<%= asset_path('iot-connected.png') %>" class="img-fluid mx-auto d-block" width="35%" height="35%"> -->
            <h2 class="display-4 align-top" style = "position: relative; left: 0px; top:20%; bottom:50%;">Monitor your World</h2>
            
            <div class="container" style="position: relative; left: 15%; top:25%; bottom:50%;">
            <div class="word"></div></div>
            <% if !logged_in? %>
                <br>
                <br>
                <%= link_to "SIGN UP", signup_path, class: " btn btn-success btn-lg text-white" %>
            <% end %>
            
            
        </div>
    
    
    
</div>


